@media (max-width: 1024px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }
    .hero-image img{
        text-align: center;
    }

    .institution{
        text-align: center;
    }

    .section-title{
        text-align: center;
    }

    .about-text{
        text-align: justify;
    }

    .certificate-item{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
        margin-bottom: 50px;
    }

    .Certificados img {
        margin-top: 40px;
    }
    .imageCertificado{
        margin-top: 40px;
    }

    h1, h2, h3{
        text-align: center;
    }

    .hero-info {
        padding-right: 0;
        margin-bottom: 30px;
    }

    nav.container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

      
    .imageCertificado{
        width: 100%;
    }
    .Certificados{
        display: flex;
        flex-direction: column;
    }
    #Img1, #Img2{
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .skills-grid,
    .portfolio-grid {
        flex-direction: column;
        align-items: center;
    }

    .skill,
    .project-card {
        width: 100%;
    }

    .hero h1 {
        font-size: 2.2em;
    }

    .hero .profession {
        font-size: 1.2em;
    }

    .section-title,
    .section-title-Sub {
        font-size: 2em;
        text-align: center;
    }

    .about-text {
        font-size: 1em;
        padding: 0 10px;
    }

    .contact-text {
        font-size: 1em;
        padding: 0 10px;
    }
    h1, h2, h3{
        text-align: center;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.8em;
    }

    .hero .profession {
        font-size: 1em;
    }
    .imageCertificado{
        width: 100%;
    }

    .Certificados{
        display: flex;
        flex-direction: column;
    }

    .Certificados img{
        width: 100%;
    }


    .resume-button,
    .button,
    .button-secondary {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}
